
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
        font-family: 'Montserrat', sans-serif;
        margin: 0px auto;
        width: 100%;
        background-color: #FCF6F5;
    
}
.header{
    background-color: #990011;
    color:white;
    overflow: auto;  
    color:white;
    overflow: auto; 
    height: 100px;
    display: flex;
    align-items: center;
    
}
#logo{
    width: 70px;
    height: 70px;
    padding: 5px;
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.list-item-inline .link{
   color: #990011;
   background-color:#FCF6F5;
   border: 2px solid yellow;
   border-radius: 2rem;
   padding: 0.5rem;
}
nav{
    display: block;
}
.navigation .nav-pills{
   
    margin: 0.6rem 1rem;
}

a{
    text-decoration: none;
}
.page{
    margin-top: 20%;
    
}
.page h1{
    display:flex;
    justify-content: center;
    color: #990011;
    
}
#searchbar{
    display: flex;
    justify-content: center;
}
#searchinput{
    border: 2px solid #FFBE7B;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    
}
#search{
    border: 2px solid #FFBE7B;
    border-radius: 10px;
    background-color: white;
    width: 50px;
    height: 57px;
    margin-left: 10px;
    
}
#searchicon{
    width: 35px;
    height: 35px;
}

.offers{
    border: 2px solid #3BB103;
    background-color: #51ff007e;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    margin: auto;
    margin-top:20px ;
    color: #339e01;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#searchinput[type="text"]
{  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size:24px;
}