.header{
    background-color: #990011;
    color:white;
    overflow: auto;  
    color:white;
    overflow: auto; 
    height: 100px;
    display: flex;
    align-items: center;
    
}
#logo{
    width: 70px;
    height: 70px;
    padding: 5px;
}

.headerbutton{
display: inline-block;
margin-left: auto;
padding-right: 10px;
padding-top: 30px;
}

.headerbtn{
    border-color: black;
    height: max-content;
    width: 100px;
    font-size: large;
    border-radius: 6px;
    text-align: center;
}
a{
    text-decoration: none;
}

body{
    background-color: #FCF6F5;
    margin: 0px auto;
}
.page{
    margin-top: 20%;
    
}
.page h1{
    display:flex;
    justify-content: center;
    color: #990011;
    
}
#searchbar{
    display: flex;
    justify-content: center;
}
#searchinput{
    border: 2px solid #FFBE7B;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    
}
#search{
    border: 2px solid #FFBE7B;
    border-radius: 10px;
    background-color: white;
    width: 50px;
    height: 57px;
    margin-left: 10px;
    
}
#searchicon{
    width: 35px;
    height: 35px;
}

.offers{
    border: 2px solid #3BB103;
    background-color: #51ff007e;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    margin: auto;
    margin-top:20px ;
    color: #339e01;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#searchinput[type="text"]
{  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size:24px;
}